<div class="content" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="">
  <div fxFlex="20%">
    <mat-card class="book-card">
      <img mat-card-image
        src="http://books.google.com/books/content?id=1I8xM0Qv65IC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api">
      <mat-card-title>TESTE</mat-card-title>
      <mat-card-content>TESTE DE DESCRICAO</mat-card-content>
      <mat-card-actions [align]="'end'">
        <button mat-icon-button color="warn">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>