<div>
  <mat-form-field>
    <input matInput placeholder="Search" [(ngModel)]="query">
  </mat-form-field>
  <button mat-icon-button color="accent" (click)="searchBook(query)">
    <mat-icon>search</mat-icon>
  </button>
</div>

<div class="content" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="">
  <div fxFlex="20%" *ngFor="let book of returnedBooks">
    <mat-card class="book-card">
      <img mat-card-image src="{{book.thumbnail}}">
      <mat-card-title>{{book.name}}</mat-card-title>
      <mat-card-actions [align]="'end'">
        <button mat-icon-button color="warn" (click)="addFavorite(book)">
          <mat-icon>add_circle</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>